.places {
  margin: 92px auto 92px;
  padding: 0 148px;
  max-width: 984px;
}


@media (max-width : 1024px) {
  .places{
    padding-right: 48px;
    padding-left: 48px;
    max-width: 928px;
  }
}

@media (max-width : 768px) {
  .places {
    margin: 86px 45px 90px 24px;
    max-width: 720px;
    padding: 0;
  }
}

@media (max-width : 425px) {
  .places {
    padding: 0;
  }
}
@media (max-width : 320px) {
  .places {
    margin: 61px 0px 0 0px;
    max-width: 320px;
  }
}
