.cover__subtitle {
  margin: 32px 0 0 ;
  max-width: 360px;
  margin-bottom: 245px;
  font-size: 18px;
  line-height: 22px;
  text-align: center;
  text-decoration: none;
  color: white;
}

@media (max-width: 1024px) {
  .cover__subtitle {
    margin-bottom: 235px;
  }
}

@media (max-width: 768px) {
  .cover__subtitle {
    margin-bottom: 245px;
  }
}

@media (max-width: 700px) {
  .cover__subtitle {
    max-width: 80%;
    margin-top: 16px;
    font-size: 18px;
    line-height: 22px;
  }
}
@media (max-width: 568px) {
  .cover__subtitle {
    margin-bottom: 72px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-top: 0px;
    max-width: 80%;
  }
}

@media (max-width: 350px) {
  .cover__subtitle {
    margin-bottom: 72px;
    font-size: 14px;
    line-height: 16px;
    text-align: center;
    margin-top: 0px;
    max-width: 80%;
  }
}

