.place__website-heading {
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
  color: #AAAAAA;
  padding: 106px 0 12px 0;
  margin: 0;
  text-transform: uppercase
}


@media (max-width : 700px) {
  .place__website__url-heading {
    padding-top: 32px;
  }
}
