.place__website__link {
  color: white;
  transition: opacity 0.3s;
  font-weight: 400;
  font-size: 18px;
  line-height: 22px;
  text-decoration-line: none;
}

.place__website__link:hover {
  opacity: 0.8s;
  text-decoration-line: underline;
}
