.place__paragraps {
  margin: 0;
  padding: 0;
}

@media (max-width: 768px) {
  .place__paragraps {
    max-width: 352px;
  }
}
@media (max-width: 320px) {
  .place__paragraps {
    margin: 0 16px 0 16px;
    max-width: 288px;
  }
}
