.cover {
  margin: 0 auto;
  max-width: 1184px;
  position: relative;
 }

 @media (max-width : 1024px) {
  .cover {
    margin-top: 64px;
  }
}

@media (max-width : 786px) {
  .cover {
    margin-top: 90px;
    margin-bottom: 80px;
  }
}
@media (max-width : 425px) {
  .cover {
    margin-bottom: 60px;
    margin-top: 0;
  }
}
