.lead__img {
  width: 100%;
  object-fit: contain;
}
@media (max-width: 786px) {
  .lead__img {
    width: 100%;
    height: 470px;
  }
}
@media (max-width: 320px) {
  .lead__img {
    width: 100%;
    height: 200px;
    margin-top: 40px;
  }
}
