.tho__columns {
  margin: 92px 148px;
}
.tho__column {
  display: flex;
  flex-direction: column;
  margin: 0 40px 0 0;
}
.tho__column_heading {
  width: 460px;
  font-weight: 900;
  font-size: 72px;
  line-height: 76px;
  margin: 0;
  padding: 0 0 48px 0;
}
.tho__column_images {
  width: 460px;
  height: 460px;
}
.info {
  display: flex;
  flex-direction: column;
}
.tho__column_url {
  width: 456px;
  font-weight: 400;
  font-size: 12px;
  line-height: 12px;
  letter-spacing: 2px;
}
.link {
  color: #fff;
  text-decoration: none;
  cursor: pointer;
  align-self: start;
  margin: 0;
}
.text {
  max-width: 484px;
  font-weight: 400;
  font-size: 18px;
  line-height: 163%;
  margin: 0;
  padding-bottom: 26px;
}
.text:last-child {
  padding-bottom: 0;
}

.column__content {
  display: flex;
  padding: 0 0 80px 0;
}
.column__content:last-child{
  padding: 0px;
}
