.cover__title {
  margin: 0 auto;
  max-width: 560px;
  font-size: 72px;
  font-weight: 900;
  line-height: 76px;
  text-align: center;
  text-decoration: none;
  color: white;
  justify-content: center;
  padding-top: 240px;
  z-index: 2;
}

@media (max-width: 1024px) {
  .cover__title {
    padding: 150px 0 0 0;
  }
}

@media (max-width: 768px) {
  .cover__title {
    padding: 0 0 0 0;
  }
}

@media (max-width: 568px) {
  .cover__title {
    font-size: 32px;
    line-height: 35px;
    padding: 0;
    max-width: 234px;
    margin-bottom: 7px;
    margin-top: 88px;
  }
}

@media (max-width: 350px) {
  .cover__title {
    margin-top: 25px;
    margin-bottom: 0;
  }
}
