.footer {
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 90px 45px 24px;
  text-align: center;
  max-width: 1184px;
}

@media screen and (max-width: 1024px) {
  .footer {
    padding: 92px 48px 24px;
    max-width: 928px;
  }
}

@media screen and (max-width: 984px) {
  .footer {
    gap: 18px;
    padding: 58px 24px 0;
  }
}

@media screen and (max-width: 786px) {
  .footer {
    gap: 18px;
    padding: 0 24px 0;
    margin-bottom: 24px;
    max-width: 720px;
  }
}

@media (max-width : 690px) {
  .footer {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
  }
}

@media screen and (max-width: 568px) {
  .footer {
    padding: 0;
    margin: 0 0 0 16px;
    max-width: 186px;
  }
}
